.loading-container {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading-image {
    width: 100px; /* Adjust the size of the image */
    height: 100px;
    animation: bounce 1s ease-in-out;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust the distance it moves up */
    }
}
